/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 700px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

select, input[type="text"], input[type="number"], input[type="date"], input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Artículos */
.articulo {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center;
  margin-top: 20px;
}

.articulo label {
  flex: 1;  /* Hace que el artículo ocupe el espacio disponible */
  text-align: left;  /* Alinea el texto del artículo a la izquierda */
}

.articulo input[type="number"],
.articulo input[type="text"] {
  width: 30%;  /* Los campos de cantidad y observaciones tienen el mismo tamaño */
  margin-left: 10px; /* Agregado un pequeño margen para separarlos */
  text-align: center; /* Centrado del texto */
}

/* Estilos del botón */
button {
  display: block;
  margin: 30px auto 0;
  padding: 12px 25px;
  font-size: 16px;
  background-color: #5fbc2d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #4da724;
}

